/* IMPORT FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kalam:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* IMPORT BOOTSTRAP ICONS */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=arrow_right_alt&display=block");

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
}

/* VARIABLE DECLARATIONS */
:root {
  font-size: 1rem;
  --lavender-light: #dfdbe5;
  --lavender: #c4bdce;
  --midnight-purple: #292335;
  --aulakh-blue: #1d566e;
  --aulakh-blue-light: rgba(169, 193, 198, 0.7);
  --aulakh-blue-extralight: rgba(169, 193, 198, 0.3);
  --aulakh-green: #b8d544;
  --aulakh-green-light: rgba(214, 218, 199, 0.9);
  --aulakh-green-extralight: rgba(214, 218, 199, 0.4);
  --aulakh-pink: #cca8a2;
  --aulakh-pink-light: rgba(231, 221, 220, 1);
  --aulakh-pink-extralight: rgba(231, 221, 220, 0.5);
  --slate-grey: #374151;
  --slate-grey-light: #596383;
  --info-box-grey: rgba(0, 0, 0, 0.1);
}

/* 'POPPINS' FONT DECLARATIONS */
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/* PRELOADER */
.loader-wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
}

.loader::after, .loader::before {
  content: '';  
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid #242f3f;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}

.loader::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

/* GLOBAL STYLES */
html {
  scroll-behavior: smooth;
}

html, body {
  box-sizing: border-box;
}

body {
  background-color: var(--light-lavender);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='32' viewBox='0 0 16 32'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 24h4v2H0v-2zm0 4h6v2H0v-2zm0-8h2v2H0v-2zM0 0h4v2H0V0zm0 4h2v2H0V4zm16 20h-6v2h6v-2zm0 4H8v2h8v-2zm0-8h-4v2h4v-2zm0-20h-6v2h6V0zm0 4h-4v2h4V4zm-2 12h2v2h-2v-2zm0-8h2v2h-2V8zM2 8h10v2H2V8zm0 8h10v2H2v-2zm-2-4h14v2H0v-2zm4-8h6v2H4V4zm0 16h6v2H4v-2zM6 0h2v2H6V0zm0 24h2v2H6v-2z'/%3E%3C/g%3E%3C/svg%3E");
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #555;
}

body.overflow.active {
  overflow: hidden;
}

h6 {
  text-transform: uppercase;
  font-weight: 700;
}

a {
  transition: 0.5s;
  outline: none;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  outline: none;
  text-decoration: none;
}

.page-wrapper {
  position: relative;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

/*CONTAINERS */
.header-bar, .footer-bar {
  margin: 0 auto;
  background: #292335;
  color: #cbc9cf;
}

.footer-bar {
  padding: 5rem 10rem 0.5rem 10rem;
}

.footer-text {
  font-size: 0.8rem;
  margin-bottom: 2rem;
}

.footer-copyright {
  font-size: 0.6rem;
}

@media screen and (max-width: 992px) {
  .footer-bar {
    padding: 2rem 0 0.5rem 0;
  }
}

.header-banner {
  padding: 0.8rem 0;
  display: flex;
  justify-content: center;
  min-height: 70px;
}

.header-content {
  padding: 0 2rem;
  display: block;
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  align-self: center;
}

@media screen and (max-width: 992px) {
  .header-banner {
    justify-content: flex-start;
  }
  .header-content {
    display: grid;
    padding: 0 0.6em;
  }
}

.container-wrap {
  margin: 0 auto 1em auto;
}

.container-wrap-footer {
  margin: 0 auto;
}

.logo-wrap {
  margin: 0 auto;
  padding: 2em 0;
  display: flex;
  justify-content: center;
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}

@media screen and (max-width: 992px) {
  .logo-wrap {
    border-bottom: none;
  }
}

/* ELEMENT STYLES */
.header-bar a, .footer-bar a {
    color: #cbc9cf;
}

.content-bar a:hover, .content-bar a:active, .content-bar a:focus {
  color: #cbc9cf;
}

.logo-container {
  display: inline-grid;
  grid: 1fr / 1fr 1fr 1fr 8fr;
  gap: 10px;
  width: 80%;
  max-width: 690px;
  padding: 15px 0;
}

.logo-container .img-container img {
width: 100%;
height: auto;
}

@media screen and (max-width: 576px) {
  .logo-wrap {
    justify-content: left;
    padding-left: 2em;
  }
}

#logo-1 {
  animation-delay: 500ms;
}

#logo-2 {
  animation-delay: 800ms;
}

#logo-3 {
  animation-delay: 1100ms;
}

#logo-4 {
  animation-delay: 1500ms;
}

.section-wrap, .section-wrap-main {
  padding: 96px 80px;
  clear: both;
}

.no-padding {
  padding: 0;
  clear: both;
}

@media screen and (max-width: 992px) {
  .section-wrap, .section-wrap-main {
    padding: 96px 48px;
  }
}

@media screen and (max-width: 768px) {
  .section-wrap {
    padding: 64px 0;
  }
  .section-wrap-main {
    padding: 64px 32px;
  }
}

.bg-white {
  background: #fff;
}

.bg-grey {
  background: #f9f9f9;
}

.bg-grad-white {
  background: url('../images/gradient.jpg') center / cover no-repeat;
}

@media screen and (max-width: 768px) {
  .bg-grad-white {
    background: #fff;
  }
}

.bg-grad-grey {
  background: url('../images/gradient.jpg') center / cover no-repeat;
}

@media screen and (max-width: 768px) {
  .bg-grad-grey {
    background: #f9f9f9;
  }
}

.heading {
  margin-bottom: 2em;
}

.heading h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 38px;
  line-height: 1.3;
  margin-bottom: 16px;
  line-height: auto;
  color: var(--slate-grey);
}

.subheading {
  display: block;
  margin-bottom: 16px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 2px;
  color: var(--slate-grey-light);
}

.box-shadow-wide {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.cta-section {
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.cta-section h1 {
  font-family: "kalam", serif;
  background-image: linear-gradient(120deg, #09203f 0%, #537895 58%, #09203f 100%);
  color: transparent;
  background-clip: text;
}

.cta-section p {
  color: #243949;
}

.profile  {
  margin-bottom: 3em;
}

.profile > h3 a {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.15rem;
  margin-bottom: 5px;
  line-height: auto;
  color: var(--slate-grey) !important;
  cursor: pointer;
}

.profile > h5 {
  font-size: 1rem;
  color: var(--slate-grey);
  margin-bottom: 5px;
}

.profile > h6 {
  font-size: 0.9rem;
  line-height: 1.4;
  font-weight: 370;
  text-transform: none;
}

.profile-photo {
  float: left;
  max-width: 40%;
  margin: 0 2rem 1rem 0;
  padding: 0;
}

.modal-content {
  border-radius: 12px;
}

.modal-body {
  padding: 32px;
  font-family: inherit;
  font-weight: 300;
  line-height: 1.7;
  color: #555;
}

.modal-body h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.6rem;
  line-height: auto;
  color: var(--slate-grey);
  margin-bottom: 5px;
}

.text-body-secondary {
  font-size: 0.8rem;
}

.modal-body h5 {
  font-size: 1.4rem;
  font-weight: 300;
  color: var(--slate-grey);
  margin-bottom: 40px;
}

.modal-body p {
  font-size: 0.875rem;
}

.infographic {
  width: 100%;
}

#infographic-wide{
	display: none;
}

#infographic-narrow {
	display: block;
  max-width: 350px;
  float: right;
  padding: 0 0 1.6em 1.6em;
}

@media screen and (max-width: 992px) {
  #infographic-wide {
	  display: block;
    max-width: 800px;
    margin: 0 auto;
  }
  #infographic-narrow {
	  display: none;
  }
}

.hero {
  background-image: url("../images/hero-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero h1 {
  font-size: 56px;
  line-height: 1.2;
  font-weight: 600;
  letter-spacing: -0.5px;
  margin-bottom: 32px;
  color: var(--slate-grey);
}

.hero h2 {
  font-size: 30px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: -0.5px;
  margin-bottom: 48px;
  color: var(--slate-grey);
}

.image-fill {
  padding: 0;
}

.fill-photo-width {
  width: 100%;
  max-height: 350px;
  object-fit: cover;
}

.fill-photo-height {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.services {
  padding-bottom: 30px;
  display: flex;
}

.card h3 {
  font-size: 20px;
  font-weight: 600;
}

a, .text-link {
  color: var(--aulakh-blue);
}

.card {
  padding: 24px;
  border: none;
  border-radius: 0 40px;
  box-shadow: rgba(0, 0, 0, 0.08) -5px 5px 10px;
  transition: background-color 0.3s 0s, box-shadow 0.3s 0s, transform 0.3s 0s;
  cursor: pointer;
}

.card a {
  color: #555;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.24) -5px 5px 10px;
  transform: scale(1.03);
}

.text-link {
  font-weight: 500;
  padding: 0;
  margin: auto 0 0 0;
}

.description {
  font-size: 15px;
  margin: 30px 0 15px 0;
}

ul.bulletpoint {
  font-size: 15px;
  list-style: none;
  padding-left: 1.2rem;
}

ul.bulletpoint li {
	margin: 0 0 0.25rem 0;
  padding: 0 0 0 2rem;
  position: relative;
}

ul.bulletpoint li:before {
  display: block;
  font-size: 1rem;
  line-height: 1.7;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
}

ul.bulletpoint li:last-child {
  margin-bottom: 1rem;
}

.card-pink {
  background-color: var(--aulakh-pink-extralight);
}

.card-pink:hover {
  background-color: var(--aulakh-pink-light);
}

.card-blue {
  background-color: var(--aulakh-blue-extralight);
}

.card-blue:hover {
  background-color: var(--aulakh-blue-light);
}

.card-green {
  background-color: var(--aulakh-green-extralight);
}

.card-green:hover {
  background-color: var(--aulakh-green-light);
}

.thinborder {
  border: 1px solid #a4a4a4;
  border-radius: 20px;
}

.roundborder {
  border: none;
  border-radius: 40px;
}

.carousel {
  background: #ffeeee;  /* fallback for old browsers */
  background: linear-gradient(to bottom right, rgba(221, 239, 187, 0.3), rgba(255, 238, 238, 0.3));
  border-radius: 20px;
}

.curve-grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.tight {
  margin: 0;
  padding: 0;
}

.contact-btn {
  cursor: pointer;
}

.contact-btn:hover .round-icon {
  transform: scale(1.1);
}

.contact-btn:hover .contact-btn-link {
  color: var(--aulakh-blue);
}

.contact-btn-link {
  transition: all 0.3s;
  color: var(--aulakh-pink);
  margin-left: 16px;
  font-size: 14px;
}

.round-icon {
  display: grid;
  place-content: center;
  height: 60px;
  width: 60px;
  font-size: 24px;
  border: none;
  border-radius: 50%;
  background: var(--lavender);
  color: var(--lavender-light);
  transition: all 0.3s;
}

.curve-right {
  border-top: 8px solid #7D7A89;
  border-right: 8px solid #7D7A89;
  border-radius: 0 160px 0 0;
}

.curve-left {
  border-top: 8px solid #7D7A89;
  border-left: 8px solid #7D7A89;
  border-radius: 160px 0 0 0;
}

.leafborder-left {
  border: none;
  border-radius: 0 120px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.leafborder-right {
  border: none;
  border-radius: 120px 0;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

@media screen and (max-width: 768px) {
  .roundborder, .leafborder-left, .leafborder-right, .cta-section {
    border-radius: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px)  {
  .leafborder-left, .leafborder-right {
    border-radius: 40px;
  }
}

@media screen and (max-width: 768px) {
  .box-shadow-wide, .leafborder-left, .leafborder-right {
    box-shadow: none;
  }
}

.profile-button {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0 auto 5px auto;
  padding: 0;
  width: 180px;
  height: 180px;
  overflow: hidden;
  border: 8px solid var(--lavender-light);
  -webkit-border-radius: 50% 0 50% 50%;
  -moz-border-radius: 50% 0 50% 50%;
  -ms-border-radius: 50% 0 50% 50%;
  border-radius: 50% 0 50% 50%;
  transition: transform 0.3s, box-shadow 0.3s;
}

.btn-primary {
  padding: 12px 24px;
  display: inline-block;
  border-radius: 50px;
  border: 2px solid #5a3f75;
  background: #5a3f75;
  position: relative;
  overflow: hidden;
  transition: all 0.2s ease-in;
  z-index: 1;
  max-width: 234px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.btn-primary:hover {
  border: 2px solid #29163b;
  background: #26163b;
  transform: translateY(-2px);
  box-shadow: rgba(38, 57, 77, 0.25) 0px 14px 28px, rgba(38, 57, 77, 0.22) 0px 10px 10px;
}

.btn-primary span {
  color: #dedede;
  font-size: 19px;
  font-weight: 600;
  transition: all 0.2s ease-in;
}

.hero .btn-primary {
  margin: 8px;
}

.btn-secondary {
  padding: 12px 24px;
  display: inline-block;
  align-items: center;
  border-radius: 50px;
  border: 2px solid #5a3f75;
  background: #f9f9f9;
  position: relative;
  overflow: hidden;
  transition: all 0.2s ease-in;
  z-index: 1;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.btn-secondary:hover {
  border: 2px solid #26163b;
  background: #26163b;
  transform: translateY(-2px);
  box-shadow: rgba(38, 57, 77, 0.25) 0px 14px 28px, rgba(38, 57, 77, 0.22) 0px 10px 10px;
}

.btn-secondary span {
  color: #5a3f75;
  font-size: 19px;
  font-weight: 400;
  transition: all 0.2s ease-in;
}

.btn-secondary:hover span {
  color: #f9f9f9;
}

.hero .btn-secondary {
  margin: 8px;
}

span.size-24 {
  font-size: 24px;
  font-variation-settings: 'OPSZ' 24;
  vertical-align: text-bottom;
}

@media screen and (max-width: 991px) {
  .profile-button {
    width: 250px;
    height: 250px;
  }
}

@media screen and (max-width: 767px) {
  .profile-button {
    width: 300px;
    height: 300px;
  }
}

.profile-button:hover {
  transform: scale(1.03);
  box-shadow: rgba(0, 0, 0, 0.24) -5px 5px 10px;
}

.scroll-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 50px;
  transform: scale(0);
  transition: transform 200ms;
}

.scroll-to-top.show {
  transform: scale(1);
}

.scroll-to-top a {
  color: rgba(0, 0, 0, 0.5);
}

.scroll-to-top a:hover {
  color: rgba(0, 0, 0, 0.7);
}

.info-box {
  padding: 6rem;
}

.info-box h6 {
  color: var(--slate-grey);
}

.info-box-less-padding {
  padding: 4rem;
}

.info-box-minimal-padding {
  padding: 2rem;
}

.info-nobox {
  padding: 0rem;
}

@media screen and (max-width: 576px) {
  .info-nobox {
    padding: 1rem;
  }
}

.modal-body {
  background-color: #FAF9F9;
  border-radius: 12px;
}

.modal-container {
  padding: 10px 50px;
}

.modal-container img {
  max-height: 500px;
}

.pink {
  background-color: var(--aulakh-pink-light);
}

.blue {
  background-color: var(--aulakh-blue-light);
}

.green {
  background-color: var(--aulakh-green-light);
}

.grey {
  background-color: var(--info-box-grey);
}

@media screen and (max-width: 1400px) {
  .info-box {
    padding: 4rem;
  }
}

@media screen and (max-width: 1200px) {
  .info-box, .info-box-less-padding {
    padding: 2.75rem;
  }
}

@media screen and (max-width: 992px) {
  .info-box, .info-box-less-padding, .info-box-minimal-padding {
    padding: 1.7rem;
  }
}

.accordion-button:not(.collapsed) {
  background-color: var(--slate-grey) !important;
  color: #fff !important;
}

.accordion-button:not(.collapsed):after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.accordion-button:focus {
  box-shadow: none;
  border-color: rgba(0, 0, 0, .125);
}

.notification-banner {
  text-align: center;
  padding: 0.4rem;
  background-color: rgba(152, 251, 152, 0.5);
  border: 1px solid #ddd;
  border-radius: 5px;
}

.style-box1 {
  padding: 2rem 2rem 0 2rem;
  margin: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.style-box1 p, .style-box1>ul {
  margin-bottom: 2rem;
}

.style-box1 li {
    margin: 7px;
}

.abbreviation {
  text-decoration: underline dotted #555;
  text-underline-offset: 4px;
}

.form-label {
  display: block;
  margin-left: 16px;
  font-family: "Source Sans 3", sans-serif;
  color: #62748e;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 3px;
  font-weight: 600;
}

.form-input {
  background-color: #f8fafc;
  border: 1px solid #e2e8f0;
  border-radius: 18px;
  transition: all 0.3s;
  height: 56px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #0f172b;
  padding: 16px 24px;
}

#contact-message {
  height: 192px !important;
  resize: none;
}

.form-input:hover {
  background-color: #fff;
  border-color: #cad5e5;
}

.form-input:focus {
  border-color: #1e3a4c;
}

.form-input::placeholder {
  color: #90a1b0;
}

.form-fineprint {
  font-family: "Inter", sans-serif;  
  font-size: 12px;
  color: #62748e;
}

.form-fineprint a {
  all: unset;
  color: #1e3a4c;
  text-decoration: underline;
  cursor: pointer;
}

.form-fineprint a:hover {
  text-decoration: none;
}

.contact-form .btn-primary {
  width: 100%;
  max-width: none;
}

/* NAV MENU */
.navbar1 {
  display: flex;
}

.navbar-container {
  padding: 0 0;
  background: #fff;
}

.navbar-menu {
  padding: 20px 0;
  margin: 0;
}

.navbar-menu li {
  font-family: "Source Sans 3", sans-serif;
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
}

.navbar-menu li a {
  position: relative;
  font-size: 0.8rem;
  padding: 30px 20px;
  color: rgba(0, 0, 0, 0.7);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.navbar-menu li a:after {
  position: absolute;
  top: 3px;
  left: 0;
  right: 0;
  content: '';
  width: 50%;
  height: 2px;
  background: var(--aulakh-pink);
  margin: 0 auto;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0);
}

.navbar-menu li a:hover {
  color: var(--slate-grey);
}

.navbar-menu li a:hover:after {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.navbar-menu li a.appointment {
  color: var(--aulakh-pink);
}

.navbar-menu li.active > a {
  color: var(--slate-grey) !important;
  position: relative;
}

.navbar-menu li.active > a:after {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.navbar-menu li.has-dropdown {
  position: relative;
}

.navbar-menu li.has-dropdown > i {
  display: none;
}

.navbar-menu li.has-dropdown .dropdown {
  width: 10em;
  -webkit-box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
  z-index: 1010;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 2.5em;
  left: 0;
  text-align: left;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.09);
  padding: 1.25em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}

.navbar-menu li.has-dropdown .dropdown:before {
  bottom: 100%;
  left: 40px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #fff;
  border-width: 8px;
  margin-left: -8px;
}

.navbar-menu li.has-dropdown .dropdown li {
  display: block;
  margin-bottom: 7px;
}

.navbar-menu li.has-dropdown .dropdown li:last-child {
  margin-bottom: 0;
}

.navbar-menu li.has-dropdown .dropdown li a, .navbar-menu li.has-dropdown .mobile-dropdown li a {
  padding: 2px 0;
  display: block;
  color: rgba(0, 0, 0, 0.5);
  line-height: 1.2;
  text-transform: none;
  font-size: 13px;
  letter-spacing: 0;
}

.navbar-menu li.has-dropdown .dropdown li a:hover {
  color: rgba(0, 0, 0, 0.7);
}

.navbar-menu li.has-dropdown .dropdown li a:after {
  display: none !important;
}

.navbar-menu li.has-dropdown:hover a, .navbar-menu ul li.has-dropdown:focus a {
  color: rgba(0, 0, 0, 0.8);
}

.navbar-menu li.has-dropdown:hover .dropdown {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

/* NAV BAR TOGGLE */
.navbar-toggle {
  display: none;
  background: transparent;
  padding: 10px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.drop-toggle {
  display: none;
  background: transparent;
  border: none;
  cursor: pointer;
  margin-left: 120px;
}

.chevron {
  display: block;
  background: transparent;
  transition: all 0.3s ease-in-out;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background: #cbc9cf;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}

/* MOBILE NAV MENU */
.mobile-dropdown {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  padding: 0;
  gap: 0;
  margin: 0;
  height: 0;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 1200px) {
  .content-blur {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: none;
    z-index: 1000;
    display: none;
  }
  
  .content-blur.active {
    display: flex;
    backdrop-filter: blur(7px);
  }

  .navbar-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.2rem !important;
    position: fixed;
    height: 100%;
    width: 320px;
    background: #fff;
    top: 0;
    right: -333px;
    padding: 5rem 1.5rem;
    box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
    z-index: 1010;
    transition: right 0.3s ease;
  }

  .navbar-menu.active {
    right: 0;
  }

  .navbar-toggle {
    display: block;
    z-index: 1020;
  }

  .navbar-toggle.active {
    position: fixed;
  }

  .navbar-toggle.active .bar {
    background: #646464;
  }

  .navbar-toggle.active .bar:nth-child(2) {
    opacity: 0;
  }

  .navbar-toggle.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .navbar-toggle.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navbar-menu li{
    padding: 0 0 10px 20px;
    text-align: left;
  }

  .navbar-menu li a {
    padding: 5px 0;
    font-size: 1.1rem;
  }

  .navbar-menu li a:after {
    top: 30px;
    width: 100%;
  }

  .navbar-menu .active a:hover:after {
    opacity: 1 !important;
  }

  .navbar-menu li a:hover:after {
    opacity: 0;
  }

  .navbar-menu .mobile-dropdown li a:after {
    display: none;
  }
  .drop-toggle {
      display: inline;
  }

  .drop-toggle.active .chevron {
    transform-origin: center;
    transform: rotate(180deg);
  }

  .mobile-dropdown.active {
    padding-top: 10px;
    gap: 0.4rem;
    height: 290px;
  }

  .mobile-dropdown.active li a {
    font-size: 1.1rem !important;
  }

  .drop-toggle i {
    font-size: 1.3rem !important;
  }
}

@media (max-width: 768px) {
  .bar {
    background: #646464;
  }
}